<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.supermarket_manage.mapper.UserMapper">

    <resultMap id="User" type="com.zhang.supermarket_manage.pojo.User">
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="password" jdbcType="VARCHAR" property="password" />
    </resultMap>

<select id="isUser" resultMap="User">
    select * from user where user_name = #{user_name}
</select>

</mapper>